.text_title{
    color: white;
    text-align: center;
}
.text_h{
    text-align: center;
    padding-bottom: 15px;
    padding-top: 10px;
}

.my-custom-menu {
    --width: 500px;
}

.header-menu{
    background-color: #19C9FF;
}
.img_c{
  width: 256px;
  height: 256px;
}

.text_c{
    font-size: 20px;
    text-align: center;
}

.cent{
    text-align: center;
}
button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}