<ion-menu side="start" menuId="first">
    <ion-header>
      <ion-toolbar color="header-menu" class="header-menu">
        <ion-title><ion-icon name="person"></ion-icon>{{email}}</ion-title>
        {{nick}}
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item><ion-button fill="clear"(click)="home()"><ion-icon name="home"></ion-icon> Inicio</ion-button></ion-item>
        <ion-item><ion-button fill="clear"(click)="compras()"><ion-icon name="pricetags"></ion-icon> Mis Compras</ion-button></ion-item>
        <ion-item><ion-button fill="clear"(click)="categoria()"><ion-icon name="list-box"></ion-icon> Categorias</ion-button></ion-item>
        <ion-item><ion-button fill="clear"(click)="ayuda()"><ion-icon name="help-circle-outline"></ion-icon> Ayuda</ion-button></ion-item>
        <ion-item><ion-button fill="clear" (click)="cerrar_sesion()"><ion-icon name="power"></ion-icon> Cerrar sesión</ion-button></ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
  
  <ion-header>
      <ion-toolbar color="header">
        <ion-title class="text_title">
          SHOP ONLINE
          <ion-icon name="cart"></ion-icon>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>  
       <ion-item>
           <ion-button fill="clear" (click)="openFirst()" >
            <ion-icon slot="icon-only" name="reorder"></ion-icon>
          </ion-button>
          <ion-toolbar>
            <ion-searchbar type="text"(ionInput)="filtroSearch($event)"></ion-searchbar>
          </ion-toolbar>  
        </ion-item>
      </ion-list>
      <ion-list *ngIf="isItemAvailable">
          <ion-item *ngFor="let item of productos">
            {{ item.nombre }}
          </ion-item>
        </ion-list>
    <div class="text_h">
        <ion-label><strong>Categorias</strong></ion-label>
    </div>
    <div>
        <ion-list>
            <ion-item>
                <button (click)="refCategoria(1)">
                    <ion-card >
                        <ion-card-header>
                          <ion-card-title class="text_c">Tecnologia</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <img class="img_c" src="./../../assets/icon/tecnologia.jpg" alt="">
                        </ion-card-content>
                    </ion-card>
                </button>
              </ion-item>
              <ion-item>
                <button (click)="refCategoria(2)">
                <ion-card>
                    <ion-card-header>
                      <ion-card-title class="text_c" >Inmuebles</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <img class="img_c" src="./../../assets/icon/inmueble.jpg" alt="">
                    </ion-card-content>
                </ion-card>
              </button>
              </ion-item>
              <ion-item>
                <button (click)="refCategoria(3)">
                <ion-card>
                    <ion-card-header>
                      <ion-card-title class="text_c">Deportes</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <img class="img_c" src="./../../assets/icon/deportes.jpg" alt="">
                    </ion-card-content>
                </ion-card>
                </button>
            </ion-item>
          </ion-list>
    </div>
</ion-content>
