.text_title{
    color: white;
    text-align: center;
}
.text_h{
    text-align: center;
    padding-bottom: 15px;
    padding-top: 10px;
}

.my-custom-menu {
    --width: 500px;
}

.header-menu{
    background-color: #19C9FF;
}
.img_c{
  text-align: center;
}

.text_c{
    font-size: 8px;
}

.cent{
    text-align: center;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.sub{
    background-color: #00546E;
    text-align: center;
    font-size: 30px;
    color: white;
}

.compra{
    background-color: #00546E;
    text-align: center;
    font-size: 18px;
    color: white;
}
