<ion-header>
  <ion-toolbar color="header">
    <ion-title class="text_title">
      SHOP ONLINE
      <ion-icon name="cart"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="text_h">
      <ion-label><strong>Iniciar sesión</strong></ion-label>
  </div>
  <div>
      <form #f = "ngForm">
          <ion-item>
              <ion-label position="stacked">Nick<ion-text color="danger">*</ion-text></ion-label>
              <ion-input required type="text" [(ngModel)]="nick" name="nick"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label position="stacked">Contraseña <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required type="password" [(ngModel)]="pass" name="pass"></ion-input>
            </ion-item>
            <div class="ion-padding" >
                <ion-button (click)="login()" size="small" color="light" expand="block" type="submit">Ingresar</ion-button>
            </div>
      </form>
      <div class="ion-padding" style="padding-top: 10px;">
          <ion-button routerLink="/register" size="small" color="light" expand="block" type="submit" >Crear Cuenta</ion-button>
      </div>
  </div>
</ion-content>